* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  --webkit-font-smoothing: antialiased !important;
  --moz-osx-font-smoothing: grayscale !important;
  list-style: none !important;
  outline: none;
}

html {
  font-size: 62.5%;
}

body,
html {
  background-color: #fff;
  color: #000;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

/* Container geral com margem lateral */
.app-container {
  width: 100%;
  max-width: 124.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Header (não fixo) */
.app-header {
  background-color: blue;
}

/* Conteúdo principal com grid */
.main-content {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: red;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; /* Coluna única em telas menores */
  }
}

/* Estilo base para os MFEs */
.app-dashboard,
.app-transactions {
  width: 100%;
  padding: 20px;
  overflow-y: auto;
}

.app-dashboard {
  /* Dashboard específico */
  background-color: green;
}

.app-transactions {
  /* Extrato específico */
  background-color: orange;
}
